.newsContainer{
    background: rgba(19, 10, 10, 1);
    margin-top: -30px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.titleFlex{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    gap: 150px;

    img{
        margin-right: -550px;
    }
}

.newsTitle{
    text-align: center;

    h1{
        color: rgba(255, 255, 255, 1);
        font-size: 32px;
        font-weight: 400;
        line-height: 45px;
        margin-bottom: 0;
        text-align: center;
    }

    p{
        color: rgba(255, 255, 255, 0.8);
        font-size: 17px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 8px;
    }
}

.blogBox{
    margin-top: -200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 35px 95px;
}
.blogDescriptionBox{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
    background: rgba(21, 14, 14, 1);
    border-radius: 12px;
    padding: 20px 15px;


    h4{
       color: rgba(255, 255, 255, 1);
       font-weight: 500;
       font-size: 18px;
       line-height: 24px; 
       margin-bottom: 0;
    }

    p{
       color: rgba(255, 255, 255, 0.7);
       font-weight: 400;
       font-size: 18px;
       line-height: 24px;
       margin-top: 10px; 
    }
}